@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-azul-claro:#4E9F3D;
    --cor-preto:#191A19;
    --cor-branco:#D8E9A8;
    --cor-hover: #1E5128;

    --fonte-principal:'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

.cabecalho{
    
    position: fixed;
    width: 100%;
    padding: 1% 0% 1% 15%;
    background-color: #282b28da;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    color:var(--cor-azul-claro);
    text-decoration: none;
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
    font-weight: 800;
}

.titulo-destaque{
    color:var(--cor-azul-claro);
}

.apresentacao{
    padding: 10% 15% 17.45% 15%;
    gap: 82px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.imagem{
    background-color: #282b28da;
    border-radius: 14px;
}
.imagem img{
    width: 100%;
    border-radius: 20px;
    border: 7px solid Var(--cor-azul-claro);
   
}
.imagem img:hover{
    transition: 0.2s;
    opacity: 0.8;
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-principal);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
}
.apresentacao__conteudo__texto a{
    text-decoration: none;
    color:var(--cor-azul-claro);
}

.apresentacao__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link{
    width: 50%;
    gap: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-branco);
    border: 2px solid Var(--cor-azul-claro);
    font-family:var(--font-secundaria);
}

.apresentacao__links__link:hover{
    background-color:#282b28da;
    transition: 0.2s;
    padding: 21.5px 22px;
}
.rodape{
    font-family:var(--font-secundaria);
    text-align: center;
    padding: 24px;
    color: var(--cor-preto);
    background-color:var(--cor-azul-claro);

}
@media (max-width: 1200px){
    .cabecalho{
        padding: 3%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        align-items: center;
        flex-direction: column-reverse;
        padding: 15% 0;
    }
    .apresentacao__conteudo{
        padding: 0 5%;
        width: auto;
    }
   
}