.cabecalho{
  background-color: var(--cor-header);
}
.container{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
}
.container_botao{
  display: none;
}
.cabecalho_logo{
  width: 80%;
}
.cabecalho_menu-hamburguer{
  width: 24px;
  height: 24px;
  background-image: url("../Assets/Tema-Boreal/Mobile/Ícones/svgs/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.lista_menu{
  background: var(--cor-header);
  list-style: none;
  padding: 1em;
  position: absolute;
  top: 100%;
  width: 30vw;
}
.lista_menu_item{
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--cor-texto);
}