.home_page{
  padding: 2em 1.5em;
}
.home_page-imagem{
  width: 100%;
  padding: 2em 0;
}
.home_page-descricao{
  display: flex;flex-direction: column;
  gap: 1.5em;
}
.descricao_titulo{
  font-weight: 700;
  font-size: 2em;
  line-height: 1.19em;
}
.descricao_texto{
  font-weight: 500;
  font-size: 1.25em;  
  line-height: 2em;
}
.descricao_link{
  font-size: 1.25em;font-weight: 700;
  gap: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 4px 4px 0px #444444;
  background-color:var(--cor-header);
  border-radius: 1em;
  padding: 0.75em 1em;
  text-decoration: none;
}
@media screen and (min-width: 760px) {
.home_page-descricao{
  align-items: center;
}
.descricao_titulo{
  margin: 0 4em;
}
.descricao_link{
  width: 40%;
} 
}@media screen and (min-width: 1150px) {

  .home_page{
    padding: 4em 7.5em;
    display: flex;
  }
  .home_page-imagem{
    padding:0;
    max-height: 400px;
  }
  
  .home_page-descricao{
    margin: 1.28em 0 1.28em 3.75em ;
    align-items: center;
  }
  .descricao_titulo{
    margin: 0 2em;
  }
  .descricao_texto{
  margin: 0 1em;
  }
  .direita{
    flex-direction: row-reverse;
  }
}