@import url('./header.css');
@import url('./home-page.css');
@import url('./modificador.css');

:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario: #D6D6D6;
    --cor-balao:#0B2447;
    --cor-botao:#576CBC;
    --cor-azul-escuro:#19376D;
    --cor-backgronud-degrade:linear-gradient(180deg, #000000 14.06%, #1C213A 100%);
    --cor-fonte: #A5D7E8;
    --fonte-principal:'Montserrat', sans-serif;
}

*{
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    color: black;
}

body{
    background-image: url('../img/textura-de-parede-com-detalhes-em-branco\ \(1\).jpg');
    width: 100vw;
    height: 100vh;

}
main{
    
}
.info__texto{
    padding: 30vh 10vw 5vh 10vw;
}
.a-botao{
    opacity: 0;
    transform: scale(0.5);
    background-color: var(--cor-botao);
    padding: 0.5em;
    border-radius: 20px;
    font-size: 0.875;
    font-weight: 700;
    text-decoration: none;
}
